body {
    font-family: Arial;
    text-align: center;
    background-color: #f2f2f2;
}

h1 {
    color: #2c3e50;
}

table {
    margin: auto;
    width: 50%;
    background: white;
    border-collapse: collapse;
}

th, td {
    padding: 15px;
    border: 1px solid gray;
}

button {
    padding: 5px 10px;
    cursor: pointer;
}